@use "@angular/material" as mat;

* {
  box-sizing: border-box;
  font-family: "TrebuchetMS";
}

html {
  margin: 0;
  padding: 0;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  padding: 0;

  max-width: 375px;
  height: 812px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url(assets/fonts/TrebuchetMS.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

.error-snack {
  .mdc-snackbar__surface {
    background: red !important;
  }

  span {
    color: white;
  }
}

.success-snack {
  .mdc-snackbar__surface {
    background: green !important;
  }

  span {
    color: white;
  }
}
